@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Sunflower', 'Noto Sans KR', sans-serif;
}

input {
  appearance: none;
  border-radius: 0;
}

input:focus {
  outline: none;
}

.path {
  border-style: dotted;
  border-color: rgb(255, 255, 255);
  border-width: 0.8rem;
  border-image-source: ('https://cl.ly/3c2J3c0l3r0P/dots.svg');
  border-image-slice: 33% 33%;
  border-image-repeat: round;
}
